/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    width: 150%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

/* Estilos específicos para el contenido */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para las imágenes */
img {
    width: 30%;
    height: 18%;
}

/* Estilos para la barra de navegación */
nav ul {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
}


/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
textarea,
input[type="email"],
input[type="date"],
input[type="color"],
input[type="file"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo específico para input[type="color"] */
input#color {
    padding: 1px;
}

/* Estilos para los botones */
input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilo para los enlaces en el formulario (puede personalizarse) */
form a {
    color: #0073e6;
    text-decoration: underline;
}


/* Media Queries para responsividad */
@media (max-width: 768px) {
    header {
        margin: -1px auto;
        padding: 1px;
        width: 100%;
        margin-right: 1rem;
    }
    main {
        padding: 1px;
        width: 90%;
        margin-right: 1rem;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        margin: 1rem;
        font-size: 20px;
    }
    p {
        font-size: 14px;
        margin-right: 1rem; /* Evita márgenes derechos en párrafos */
    }
    img {
        width: 80%;
        height: auto;
    }
    nav {
        margin: -1px auto;
        padding: 1px;
        width: 100%;
        margin-right: 1rem;
   }
    nav ul {
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    
    nav li {
        display: block; /* Cambia de "inline" a "block" para que las opciones estén una debajo de la otra */
        margin-bottom: 10px; /* Ajusta la distancia vertical entre las opciones */
    }
    footer {
        padding: 1px;
        width: 100%;
        margin-right: 1rem;
    }
    section {
        text-align: center; /* Alinea el texto al centro en dispositivos móviles */
    }

    form {
        padding: 10px;
    }
    input[type="text"],
    textarea,
    input[type="email"],
    input[type="date"],
    input[type="color"],
    input[type="file"] {
        width: 100%;
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
